<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Wilson Scraper</title>

    <link rel="stylesheet" type="text/css" href='{% static "core/info.css"%}'> 
</head>


<body>

    <h1 style="text-align: center; font-size: 45px;">Information About Products</h1>

    <div class="blue-box">
        {% for item in data %}
        <div>
            <h2>📦 Product {{ forloop.counter }}:</h2>
            <div style="padding-left: 70px;">
                <h3 id="total_rating">😀 Total Rating: {{ item.whole_item.total_rating }}</h3>
                <h3 id="reviews">⭐ Reviews (out of 5): {{ item.whole_item.review }}</h3>
            </div>
        </div>
        {% endfor %} 

        <div style="bottom: 0; width: 100%; text-align: center; padding-bottom: 15px; font-size: 15px;">
            <h2>For the best results (<i>unbiased</i>), the best product is one at the top of the graph. 
            The graph shows weighted results, so population (total rating) is accounted for.</h2>
        </div>
    </div>
    
</body>

</html>