<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href='{% static "core/styles.css"%}'> 

</head>


<body>
    <div class="center">
        <h1 class="text-test">Enter Amazon <em>product</em> URLs</h1>
        <form method="post">
            {% csrf_token %}
            <!-- <input id="url_value" type="text" name="urls" value=""> -->
            <textarea rows="1" cols="60" class="text-area" id="url_value" name="urls" onkeypress="grow(this)" onkeyup="grow(this)"></textarea>
            <input type="submit" value="Submit">
        </form>

        {% if is_true %}
            <!-- <p id="my-text">This is the text to remove</p> -->
            <img id="remove-image" src="data:image/png;base64,{{ graph|safe }}" alt="plot">
    </div>
            <div class="refresh-center">
                <button class="button" id="remove-button">Refresh data</button>
            </div>
        {%endif%}


</body>


<script>
    function grow(ele){
        ele.style.height = "5px"
        ele.style.height = (ele.scrollHeight)+"px"
    }

    document.getElementById("remove-button").addEventListener("click", function() {
        document.getElementById("my-text").remove();
        document.getElementById("remove-button").remove()
        document.getElementById("remove-image").remove()
    });
    
</script>


</html>